.user-page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.user-page .container {
  margin-top: 140px;
  margin-bottom: 140px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-page .container .title-box {
  margin-bottom: 127px;
  width: 100%;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-page .container .title-box strong {
  font-family: "Nunito Black";
  font-size: 49px;
  font-weight: 900;
  line-height: 87px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
}

.user-page .container .title-box span {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
}

/* login */
.user-page .container .login {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login span {
  width: 644px;
  height: 60px;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
}

.login .login-box {
  margin-top: 120px;
  width: 100%;
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login .login-box strong {
  font-family: "Nunito Black";
  font-size: 39px;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
}

.login .login-box .text {
  width: 644px;
  height: 60px;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
}

.login .login-box .btnl {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);

  border-radius: 7px;
  background: rgb(255, 216, 129);
}

.login .login-box .btns {
  margin-top: 51px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);

  border-radius: 7px;
  background: rgb(255, 184, 204);
}

.login .login-box .login-input {
  margin-bottom: 29px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.login .login-box .login-input .input {
  width: 508px;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #f6f6f6;
}

.login .login-box .login-input .input span {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
}

.login .login-box .login-input .input input {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
  border: none;
  outline: none;
}

/* signup */
.user-page .container .signup {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup .sn {
  margin-bottom: 57px;
  width: 644px;
  height: 60px;

  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
}

.signup .signup-input {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup .signup-input .box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup .signup-input .box .stext {
  margin-bottom: 48px;
  font-family: "Nunito Black";
  font-size: 39px;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
}

.signup .signup-input .box .inputs {
  margin-bottom: 24px;
  width: 1048px;
  height: 68px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signup .signup-input .box .inputs .input {
  width: 508px;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #f6f6f6;
}

.signup .signup-input .box .inputs .input .text {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(19, 39, 98);
}

.signup .signup-input .box .inputs .input input {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
  border: none;
  outline: none;
}

.signup .signup-input .box .inputs .input select {
  width: 100%;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
  border: none;
  outline: none;
}

.signup .button-box {
  margin-top: 136px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup .button-box .sign-button {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup .button-box .sign-button .duvs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup .button-box .sign-button .duvs input {
  box-sizing: border-box;
  border: 1px solid rgb(115, 115, 115);
  border-radius: 2px;
}

.signup .button-box .sign-button .duvs span {
  margin-left: 5px;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
}

.signup .button-box .sign-button .sign {
  margin-top: 26px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);

  border-radius: 7px;
  background: rgb(255, 216, 129);
}

.signup .button-box .continue {
  margin-left: 200px;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup .button-box .continue span {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(115, 115, 115);
}

.signup .button-box .continue .conn {
  margin-top: 26px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: "Nunito ExtraBold";
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(255, 255, 255);

  border-radius: 7px;
  background: rgb(255, 184, 204);
}

/* card */
.user-page .container .card {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgb(150, 187, 255);
}

/* checkout */
.user-page .container .checkout {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgb(150, 187, 255);
}

/* my account */
.user-page .container .account {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgb(150, 187, 255);
}
